/* Layout */

* { box-sizing:border-box; margin:0; padding:0; overflow:hidden; }

body { width:100vw; height:100vh; display:flex; flex-direction:column; justify-content:center; align-content:center; }

.root-box { width:90vw; height:90vh; margin:auto; }

  .box-titlebox { display:flex; align-items:center; }

    .titlebox-title { height:100%; font-size:2.5em; padding-left:.4em; padding-right:.4em; white-space:nowrap; text-overflow:ellipsis; }

    .titlebox-links { font-size:1.3em; padding-left:.4em; padding-right:.4em; }

  .box-body { height:calc(90vh - 3.13em); display:flex; flex-direction:row; }

    .body-text { padding:.4em; overflow:scroll; scrollbar-width:none; -ms-overflow-style:none; }

      .body-text::-webkit-scrollbar { display:none; }

        .text-info {  }
      
        .text-appcredit { font-size:.8em; font-style:italic; }

    .body-img { display:flex; justify-content:center; align-items:center; }

@media (orientation:landscape) {

  * {  }

  body {  }

  .root-box {  }

    .box-titlebox {  }

      .titlebox-title {  }

      .titlebox-links { white-space:nowrap; text-overflow:ellipsis; }

    .box-body { flex-direction:row; }

      .body-text { width:20%; }

        .text-info {  }

      .body-img { width:80%; }

        .img-feat {  }

}

@media (orientation:portrait) {

  * {  }

  body {  }

  .root-box {  }

    .box-titlebox { flex-direction:column; }

      .titlebox-title { width:100%; text-align:center; }

      .titlebox-links { padding-top:.4em; padding-bottom:.4em; }

    .box-body { flex-direction:column; }

      .body-text { width:100%; height:30%; }

        .text-info {  }

      .body-img { width:100%; height:70%; }

        .img-feat {  }

}

/* Style */

:root {
  --bgc:#000000;
  --fgc:#ffffff;
  --fgc-dark:#000000;
  --brdr:.1em solid;
}

body { background-color:var(--bgc); }

.root-box { border:var(--brdr) var(--fgc); }

  .box-titlebox { background-color:var(--fgc-dark); border-bottom:var(--brdr) var(--fgc); }

    .titlebox-title { background-color:var(--fgc); }

      .titlebox-title a:link, .titlebox-title a:visited, .titlebox-title a:hover, .titlebox-title a:active { color:var(--fgc-dark); }
      .titlebox-title a:link, .titlebox-title a:visited, .titlebox-title a:active { text-decoration:none; }
      .titlebox-title a:hover { text-decoration:underline; }

    .titlebox-links { color:var(--fgc); }

      .titlebox-links a:link, .titlebox-links a:visited, .titlebox-links a:hover, .titlebox-links a:active { color:var(--fgc); }
      .titlebox-links a:link, .titlebox-links a:visited, .titlebox-links a:active { text-decoration:none; }
      .titlebox-links a:hover { text-decoration:underline; }

  .box-body {  }

    .body-text { background-color:var(--fgc-dark); }

      .text-info { color:var(--fgc); }
      .text-info a:link, .text-info a:visited, .text-info a:active { text-decoration:none; color:#ffffff; }
      .text-info a:hover { text-decoration:underline; color:#ffffff; }
      
      .text-appcredit {  }
      
        .text-appcredit a:link, .titlebox-links a:visited, .titlebox-links a:active { text-decoration:none; }
        .text-appcredit a:hover { text-decoration:underline; }
      
        .nsfw { color:#ff4444; font-style:italic; }

    .body-img {  }

      .img-feat {  }

@media (orientation:landscape) {

  * {  }

  body {  }

  .root-box {  }

    .box-titlebox {  }

      .titlebox-title {  }

      .titlebox-links {  }

    .box-body {  }

      .body-text { border-right:var(--brdr) var(--fgc); }

        .text-info {  }

      .body-img {  }

        .img-feat {  }

}

@media (orientation:portrait) {

  * {  }

  body {  }

  .root-box {  }

    .box-titlebox {  }

      .titlebox-title {  }

      .titlebox-links {  }

    .box-body {  }

      .body-text { border-bottom:var(--brdr) var(--fgc); }

        .text-info {  }

      .body-img {  }

        .img-feat {  }

}